{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <a href="/" class="logo">My library</a>
    {% if request.user.is_authenticated %}
      <ul class="menu">
        <li {% if section == "favorite" %}class="selected"{% endif %}>
          <a href="{% url "library:favorite" %}">Избранное</a>
        </li>
        <li {% if section == "catalog" %}class="selected"{% endif %}>
          <a href="/">Каталог</a>
        </li>
      </ul>
    {% endif %}
    <span class="user">
      {% with total_items=cart|length %}
        {% if total_items > 0 %}
          Книг в вашем заказе:
          <a href="{% url "cart:cart_detail" %}">
            {{ total_items }},
            ${{ cart.get_total_price }}
          </a>
        {% else %}
          Ваш заказ пуст
        {% endif %}
      {% endwith %}
    </span>
    <span class="user">
      {% if request.user.is_authenticated %}
        Здравствуйте, {{ request.user.first_name|default:request.user.username }},
        <form action="{% url "account:logout" %}" method="post">
          <button type="submit">Выйти</button>
          {% csrf_token %}
        </form>
      {% else %}
        <a href="{% url "account:login" %}">Войти</a>
      {% endif %}
    </span>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>